
table{
    margin-top:50px;
    border: rgb(17, 17, 17);
}
td
{
  padding-top: 20px;
    padding: 10px;
    font-weight: bolder;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
th{
  text-align: center;
}
