<h2> Details of Dr.{{doctor.name}} </h2>
<div class="container">
<table class = "table table-bordered text-center-sm">
    <thead>
        <tr>
            <th>  Name</th>
            <th> specialization </th>
            <th> Age</th>
            <th> Number of Patients Treated</th>
        </tr>
    </thead>
    <tbody>
            <td> {{ doctor.name }} </td>
            <td> {{ doctor.specialist_field }} </td>
            <td> {{ doctor.age}} </td>
            <td> {{ doctor.patients}} </td>
    </tbody>
</table>
</div>